body {
background: url(../img/bg-grain.png) repeat 0px 0px #F0F0F0;
}

.site-header {
font-size: 70px;
font-family: 'Marck Script', cursive;
}

.site-about {
font-size: 24px;
}

.button-text {
font-size: 36px;
}

.spacer {
    margin-top: 40px; 
}

.spacer-sm {
    margin-top: 20px;
}

.gender-switch {
height: 50px;
}

.person-name {
font-size: 22px;
}

.unit {
margin-top: 20px;
margin-bottom: 20px;
}

.unit-checkbox, .unit-photo, .unit-name {
display: inline-block;
vertical-align: middle;
}

.unit-checkbox, .unit-photo {
margin-right: 20px;
}

.relation-who {
margin-left: 20px;
}

.relation-who img {
    margin-right: 8px;
}

.chbx {
-webkit-transform: scale(2,2);
}

#sex-switcher li.active:nth-child(3){
    background: #299a0b; /* Old browsers */
    background: -moz-linear-gradient(top,  #299a0b 0%, #206d08 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#206d08)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #299a0b 0%,#206d08 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #299a0b 0%,#206d08 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #299a0b 0%,#206d08 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #299a0b 0%,#206d08 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#206d08',GradientType=0 ); /* IE6-9 */
}

#sex-switcher li.active:nth-child(4){
    background: #ffd65e; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */    
}

#sex-switcher li.active:nth-child(2){
    background: #e570e7; /* Old browsers */
    background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 47%, #a849a3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(47%,#c85ec7), color-stop(100%,#a849a3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 47%,#a849a3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */    
}

#sex-switcher li.active:nth-child(1){
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

#sex-switcher li input{
    position: absolute;
    left: -9999px;
}

#sex-switcher li.active{
    opacity: 1;    
}

#sex-switcher li{
    display: inline-block;
    padding: 5px;
    color: white;
    opacity: 0.5;
    background: #444;
    border-radius: 5px;
    line-height: 14px;
    height: 26px;
    border: 1px solid #ccc;
    transition: 0.3s ease-in;
}

#sex-switcher {
    margin: 0;
    padding: 0;
}

.select-person {
    background-color: yellow;
}

#addtotracklist a, #addtotracklist span{
    color: white !important;
}

#preloader {
    width: 480px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    position: absolute;
    z-index: 100;
    margin-left: -20px;
    margin-top: -5px;
    display: none;
    text-align: center;
    padding-top: 30px;
    border-radius: 8px;
}