{% load static %}
<html>

<head>
<title>Yet another service</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.lazyscrollloading-src.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-10 col-md-8 col-lg-8 centered">
		<h1 class="text-center site-header">U have a chance!</h1>
		<div class="spacer"></div>
		
		<div class="jumbotron">
			<p class="site-about">Найди вторую половинку среди&nbsp;друзей Вконтакте.<br> Получай оперативные уведомления об&nbsp;изменении семейного положения</p>
		</div>
		
		<div class="spacer"></div>
		<div class="text-center">
			<a href="{% url 'socialauth_begin' 'vk-oauth' %}"><button class="btn btn-large btn-success text-center" action=><span class="button-text">Поехали!</span></button></a>
		</div>
		<div class="spacer"></div>
		</div>
	</div>
</div>
<div id="footer">
    <p class="text-center">(c) Ростовский Хакатон 47 hours</p>
</div>
</body>

</html>


